* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
dialog {
  margin: auto;
  height: 90%;
}
.columns {
  height: 100%;
  display: flex;
  text-align: center;
}

.one {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  gap: 2em;
  background-color: #8b181d;
  height: 100%;
  width: 50vw;
}

.two {
  display: flex;
  flex-direction: column;
  padding: 3em;

  background-color: #365632;
  height: 100%;
  width: 50vw;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

button {
  font-size: 30px;
  width: 400px;
  border: 5px solid #e6be9a;
  border-radius: 5px;
  color: #242424;
  background-color: #e6be9a;
}
.title {
  color: white;
  font-size: 2rem;
}

.keyinfo {
  color: white;
  font-size: 3rem;
}

p {
  font-size: 20px;
  padding: 0 50px;
  letter-spacing: 0.1em;
  line-height: 2;
  color: #e6be9a;
}

#family-title {
  color: white;
  font-size: 52px;
  border-bottom: 1px solid;
}

i {
  font-size: 2rem;
  color: #eeffcf;
  padding: 0.4em;
}
i span {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#family-picture {
  width: 80%;
  height: auto;
  border: solid 2px black;
}
