* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  height: 100svh;
  width: 100vw;
  display: flex;
}
main {
  height: 100svh;
  width: 100vw;
}

nav {
  background-color: #8b181d;
  text-align: end;
}

input {
  background-color: #365632;
  font-size: large;
  font-weight: bold;
  border: 2px solid #365632;
}

.columns {
  display: flex;
  height: 100%;
}

#heading {
  background-color: #365632;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#sidebar {
  background-color: #e6be9a;
  width: 25%;
}

button {
  background-color: #8b181d;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  padding: 5px 15px;
  display: block;
  margin-top: 60px;
  margin-left: 120px;
  align-items: end;
  font-size: large;
}

h1,
#welcome {
  color: white;
  text-align: center;
  font-size: 4em;
}

a {
  color: white;
  background-color: #8b181d;
}

button:hover {
  cursor: pointer;
  color: black;
  transition-duration: 0.9s;
}

dialog[open] {
  margin: auto;
  margin-top: auto;
  width: 80%;
  height: 40%;
  display: flex;
}
dialog section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* FORM CSS */

input:disabled {
  border: none;
  opacity: 0.5;
}
dialog::backdrop {
  /* TODO: FIX BACKDROP OPACITY */
  color: rgb(0, 0, 0, 0.9);
}
#create-family-dialog[open],
#delete-family-dialog[open] {
  display: flex;
  flex-direction: column;
  place-self: center;
  font-size: 1.5rem;
  height: 90%;
  width: 80%;
  margin: auto;
}
#delete-family-dialog[open] {
  height: 30%;
}
#delete-btn {
  margin: 0;
}
.form-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
#create-family-form,
#delete-family-form {
  display: flex;
  height: 100%;
  flex-direction: row;
  padding: 2rem;
}
#delete-family-form fieldset {
  justify-content: center;
}
.family-info,
.preferences {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1em;
  border: 0;
}
.input-2x {
  display: flex;
  width: 100%;
}
#create-family-name {
  padding: 0 1em;
  width: 100%;
}
#create-family-name:placeholder-shown,
#create-residents:placeholder-shown {
  text-align: center;
}
#create-residents {
  width: 60%;
  padding: 0 1em;
  text-align: right;
}
.form-input {
  background-color: whitesmoke;
}
.form-input[type="text"],
.form-input[type="number"] {
  height: 3em;
}
.form-input[type="checkbox"] {
  margin: 0;
}

.description-input {
  height: 100%;
  width: 100%;
  resize: vertical;
  font-size: large;
  padding: 1em;
}
label {
  padding: 0 0.4em;
  width: 100%;
  text-align: start;
}
.input-label-container {
  display: flex;
  align-items: center;
}

#delete-dialog {
  height: 20%;

  width: 50%;
}

#delete-dialog button,
#delete-dialog select {
  height: 3rem;
  width: 90%;
}
#delete-dialog fieldset {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#select-action-menu {
  text-align: center;
  border-radius: 20px;
}

.icon {
  padding-top: 30px;
  font-size: 50px;
}

.cre-del {
  padding-top: 10px;
  font-size: 2.5rem;
  color: #ebebeb;
  font-weight: bold;
  border-bottom: solid 2px black;
}

#create-family-btn,
#delete-family-btn {
  margin: auto;
  background-color: #ffff;
  color: #242424;
  border: solid 2px #242424;
  height: 25%;
  width: 60%;
}

#create {
  background-color: #365632;
}

#delete {
  background-color: #8b181d;
}
#residents-label {
  width: fit-content;
}
